<!-- Adapted from 2017 Launch File -->
<!-- Copyright 2017 - LAOSAAC -->

<!-- 22/05/2019 Copy from new_ursa.launch by Ngoc -->
<!-- Try to launch from PC but node from Drone -->

<launch>
    <!-- Command line arguments -->

    <!-- Launch robot description file and publisher -->
    <param name="robot_description" textfile="$(find ursa)/urdf/rr2-ip.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Conenct to the Drone -->
	<machine name="drone" address="192.168.8.1" user="rr2-ip" env-loader="/home/rr2-ip/test_Cartographer/devel/env.sh" timeout="10" default="true" />

    <!-- Launch MAVROS -->
    <include file="$(find ursa)/launch/new_mavros.launch" />

    <!-- Set the altitude of drone -->
    <node machine="drone" name="height_publisher" pkg="ursa" type="rr2_height_publisher.py" respawn="true" />

    <!-- Setup urg_node -->
    <node  machine="drone" name="urg_node" pkg="urg_node" type="urg_node" respawn="true"/>

    <!-- Replace nan data with MAX_RANGE + 1 -->
    <node machine="drone" name="scan_filtered_nans" pkg="ursa" type="scan_filtered_nans.py" respawn="true" />

    <!-- Filter IMU data based on timestamps and pref clean data -->
    <node machine="drone" name="imu_filter" pkg="ursa" type="clean_imu_data.py" output="screen" required="true"/>

    <!-- Control flight -->
    <node machine="drone" name="ursa_controller" pkg="ursa" type="controller.py" output="screen" required="true"/>

    <!-- Start cartographer -->
    <node machine="drone" name="cartographer_node" pkg="cartographer_ros"
          type="cartographer_node" args="
          -configuration_directory $(find ursa)/config
          -configuration_basename cartographer_config.lua" output="screen">
          <remap from='scan' to='scan_filtered_nans'/>
          <remap from='imu' to='filtered_imu'/>
    </node>
	<!--
    <node machine="drone" name="rviz" pkg="rviz" type="rviz" args="-d $(find ursa)/config/rr2.rviz" respawn="true"/>
	-->

	<node machine="drone" name="rviz" pkg="rviz" type="rviz" respawn="true"/>	

    <node machine="drone" pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find ursa)/config/planner/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/base_global_planner_params.yaml" command="load" />
      <rosparam file="$(find ursa)/config/planner/recovery_behaviours.yaml" command="load" />
      <remap from='/laser/scan' to='scan_filtered_nans'/>
    </node>
</launch>


